.forget-passwords {
    background-color: #f6f7f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.forget-passwords .div {
    background-color: #f6f7f9;
    height: 800px;
    position: relative;
    width: 360px;
}

.forget-passwords .vector {
    height: 16px;
    left: 26px;
    position: absolute;
    top: 50px;
    width: 9px;
}

.forget-passwords .text-wrapper {
    color: #111c30;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 105px;
}

.forget-passwords .p {
    color: #747474;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 11px;
    font-weight: 500;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 247px;
}

.forget-passwords .group {
    height: 46px;
    left: 18px;
    position: absolute;
    bottom: 0;
    width: 326px;
}

.forget-passwords .overlap-group {
    background-color: #111c30;
    border-radius: 9px;
    height: 46px;
    position: relative;
    width: 324px;
}

.forget-passwords .text-wrapper-2 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 127px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
}

.forget-passwords .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #31ba77;
    border-radius: 9px;
    height: 57px;
    left: 15px;
    position: absolute;
    top: 185px;
    width: 329px;
    font-size: 22px;
}