.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 186, 119, 0.5);

    /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
}

.spinner {
    border: 10px solid rgba(218, 218, 218, 0.3);
    /* White border with transparency */
    border-radius: 50%;
    border-top: 8px solid #ffffff;
    /* White top border */
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    /* Animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}